*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
.Python
build/
static/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
docker-build/rabbitmq/rabbitmq.conf
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.git/
*.orig
.env
